/* Resete CSS*/
* {
    margin: 0;
    padding: 0;
}

/* Configurações gerais*/

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.381);
    height: 100vh;
    width: 100vw;
    position: relative;
    height: 100vh;
}

/* Header*/

nav {
    text-align: right;
}

nav img {
    width: 60px;
    border-radius: 50%;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-right: 20px;
}

nav img:hover {
    border: 1px solid white;
    box-sizing: border-box;
    transform: translate(-7px, -7px);
    transition:  border 0.5s;
    transition: transform 0.5s;
}

/*Section*/

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe {
    position: absolute;
    left: 22px;
    top: 81px;
    height: 469px;
    width: 266px;
}